* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: grayscale;
}

html,
body {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-image: url('https://cdn.pixabay.com/photo/2023/06/18/12/17/meadow-8071932_1280.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1,
input {
    margin: 1rem;
}

input {
    font-family: inherit;
    font-size: inherit;
    border: 0.5px solid black;
    border-radius: 4px;
    padding: 0.5rem;
    width: 20rem;
}

.generation-wrap {
    display: flex;
}

.gen {
    background: white;
    width: 5rem;
    height: 2.5rem;
    margin: 1rem 0.2rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.gen:hover {
    opacity: 0.8;
}

.text,
.number {
    font-size: 1.5rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.cards.hide,
.text.hide,
.number.hide,
form.hide {
    display: none;
}

.card {
    background: white;
    border: none;
    border-radius: 5px;
    position: relative;
}

.top-section {
    object-fit: cover;
}

.top-section img {
    width: 100%;
    max-height: 250px;
    filter: grayscale(0.8);
}

.top-section img:hover {
    filter: grayscale(0);
}

.id {
    background: navy;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    border-radius: 0 5px 0 50%;
}

.id p {
    color: #fff;
    font-weight: bold;
}

.bottom-section {
    background: #333;
    color: #fff;
    padding: 10px;
    border-radius: 0 0 5px 5px;
}

.name {
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 8px;
}

.type {
    text-align: center;
    margin-bottom: 8px;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.mass {
    display: flex;
    justify-content: space-between;
    text-align: center;
}